.welcome-box {
    background-color: rgba(94, 172, 198, 0.7);
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  
  
  .welcome-text {
    font-size: 36px; 
    color: #333;
    margin: 0;
    line-height: 1.2;

  }
  
  .welcome-text-small {
    font-size: 28px; 
  }

  .welcome-name {
    color: blue;
  }
  